In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [ ]:
def leitura(path):
  df = pd.read_csv(path)
  return df

In [ ]:
def tratamento(df):
  df.drop(['category_code', 'brand'], axis=1,inplace=True)
  df.drop_duplicates(inplace=True)
  delete = df[df['price']<0]
  df.drop(delete.index, axis = 0,inplace=True)
  df['event_time'] = df['event_time'].apply(lambda x: x[0:10])
  df['event_time'] = pd.to_datetime(df['event_time'])
  return df

In [ ]:
df1 = leitura('/content/2019-Dec.csv')
df2 = leitura('/content/2020-Jan.csv')

In [ ]:
df1.to_csv('/content/2019_tratado-Dec.csv', index = False)
df2.to_csv('/content/2020_tratado-Dec.csv', index = False)

In [ ]:
tratamento(df1)

,event_time,event_type,product_id,category_id,price,user_id,user_session
0,2019-12-01,remove_from_cart,5712790,1487580005268456287,6.27,576802932,51d85cb0-897f-48d2-918b-ad63965c12dc
1,2019-12-01,view,5764655,1487580005411062629,29.05,412120092,8adff31e-2051-4894-9758-224bfa8aec18
2,2019-12-01,cart,4958,1487580009471148064,1.19,494077766,c99a50e8-2fac-4c4d-89ec-41c05f114554
3,2019-12-01,view,5848413,1487580007675986893,0.79,348405118,722ffea5-73c0-4924-8e8f-371ff8031af4
4,2019-12-01,view,5824148,1487580005511725929,5.56,576005683,28172809-7e4a-45ce-bab0-5efa90117cd5
...,...,...,...,...,...,...,...
294138,2019-12-03,view,5891173,1487580009496313889,3.97,72655920,c5643d68-0641-4f40-9f1e-7019a49ec320
294139,2019-12-03,cart,5809912,1602943681873052386,5.24,493814294,97160c22-8f38-41fa-8038-a45e09f520fc
294140,2019-12-03,purchase,4497,2195085258272014535,3.11,571396794,b7f13a00-ca44-4550-be7e-087724085f4b
294141,2019-12-03,remove_from_cart,5746439,1487580005754995573,4.44,538066916,aea96fe3-6948-4840-af1c-86c69ac3c119
294142,2019-12-03,purchase,5562100,2195085255034011676,2.86,57139679,NaN

In [ ]:
tratamento(df2)

,event_time,event_type,product_id,category_id,price,user_id,user_session
0,2020-01-01,view,5809910,1602943681873052386,5.24,595414620,4adb70bb-edbd-4981-b60f-a05bfd32683a
1,2020-01-01,view,5812943,1487580012121948301,3.97,595414640,c8c5205d-be43-4f1d-aa56-4828b8151c8a
2,2020-01-01,view,5798924,1783999068867920626,3.97,595412617,46a5010f-bd69-4fbe-a00d-bb17aa7b46f3
3,2020-01-01,view,5793052,1487580005754995573,4.92,420652863,546f6af3-a517-4752-a98b-80c4c5860711
4,2020-01-01,view,5899926,2115334439910245200,3.92,484071203,cff70ddf-529e-4b0c-a4fc-f43a749c0acb
...,...,...,...,...,...,...,...
116043,2020-01-02,view,5868796,1783999064103190764,19.05,504468592,0321ae50-9a8d-4dac-b313-a80dfbd58ddc
116044,2020-01-02,cart,5725885,1487580009605365797,0.71,481898613,f07d3ca9-a385-4a7c-a924-2e87073078da
116045,2020-01-02,remove_from_cart,5683737,1487580005595612013,3.00,587288577,5381c078-8862-41c5-8650-5b141eb5b71b
116046,2020-01-02,view,5808979,1487580008053474272,56.90,375846597,73d6d1ca-e8ab-4c97-a82b-0491ee93b258
116047,2020-01-02,view,5852897,1998040849203594085,2.73,231949596,74d32f13-7296-497c

##RESCUNHO

In [ ]:
pd.unique(df1[['user_id', 'event_type']].values.ravel())

array([576802932, 'remove_from_cart', 412120092, ..., 580514778,
       447518875, 580514828], dtype=object)

In [ ]:
df = df1.copy()

In [ ]:
df.dtypes

event_time      datetime64[ns]
event_type              object
product_id               int64
category_id              int64
price                  float64
user_id                  int64
user_session            object
dtype: object

In [ ]:
df.head()

In [ ]:
df.describe()

       product_id            category_id     price      user_id
count   108845.00              108845.00 108845.00    108845.00
mean   5477226.18 1553520944203491840.00      8.87 519238499.21
std    1326742.07  169969202057263488.00     20.25  84132790.73
min       3762.00 1487580004832248576.00      0.00   9794320.00
25%    5731456.00 1487580006300255232.00      1.98 485709311.00
50%    5813489.00 1487580008263189504.00      3.97 555356175.00
75%    5859403.00 1487580013506068736.00      7.14 579304039.00
max    5909810.00 2235524499636224256.00    327.78 580514828.00

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108845 entries, 0 to 115747
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   event_time    108845 non-null  datetime64[ns]
 1   event_type    108845 non-null  object
 2   product_id    108845 non-null  int64
 3   category_id   108845 non-null  int64
 4   price         108845 non-null  float64
 5   user_id       108845 non-null  int64
 6   user_session  108809 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 10.7+ MB

In [ ]:
df.isnull().sum(axis = 0)

event_time       0
event_type       0
product_id       0
category_id      0
price            0
user_id          0
user_session    36
dtype: int64

In [ ]:
df[['user_id']].value_counts()

user_id
527021202    1092
576802932     693
580187026     434
579751441     422
467810091     405
             ...
573475925       1
573482698       1
573517467       1
573518234       1
580514828       1
Length: 16164, dtype: int64

In [ ]:
df = df.drop_duplicates()

In [ ]:
df[['user_id','price']].groupby('user_id').sum().sort_values('price').reset_index()

In [ ]:
df[['user_id','price']].groupby('user_id').mean().sort_values('price').reset_index()

In [ ]:
df['event_type'].value_counts()

In [ ]:
df[df['user_id'] == 576802932][['user_id', 'event_type']].value_counts()

In [ ]:
df[df['price']<0][[ 'user_id' ,'price']] #Outliers negativos

In [ ]:
delete = df[df['price']<0]
df = df.drop(delete.index, axis = 0)

In [ ]:
df['event_time'] = df['event_time'].apply(lambda x: x[0:10])

In [ ]:
df['event_time'] = pd.to_datetime(df['event_time'])

In [ ]:
def leitura(path):
  df = pd.read_csv(path)
  return df

In [ ]:
def tratamento(df):
  df = df.drop(['category_code', 'brand'], axis=1)
  df = df.drop_duplicates()
  delete = df[df['price']<0]
  df = df.drop(delete.index, axis = 0)
  df['event_time'] = df['event_time'].apply(lambda x: x[0:10])
  df['event_time'] = pd.to_datetime(df['event_time'])
  return df

In [ ]:
df2 = leitura('/content/drive/MyDrive/Arquivos/2020-Jan.csv')

In [ ]:
tratamento(df2)

In [ ]:
pd.to_csv(df1)